
<div class="col-md-6 col-md-offset-3">
  <h1 class="text-center">Sign up</h1>

  <%= form_with scope: :user, url: signup_path, local: true do |f| %>
    <% unless @user.errors.empty? %>
      <ul class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Create Account",  class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  <p>Already have an account? <%= link_to "Log in here.", login_path %></p>
</div>